@import 'src/styles/colors.scss';

// .cardDisplay {
  // padding: 2rem 1rem;
// }

.cardDisplayTitle {
  padding: 2rem 1rem 0;
}

.cardDisplayList {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
  padding: 1rem;
}
.updatingList {
  background-color: $backgroundColorDarkMint;
}

.cardDisplayItem {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  justify-content: space-between;
  align-items: center;

  gap: 3rem;
  margin: 1rem 0;
  padding: 2rem 1.5rem;
  min-height: 100px;
  // width: 100%;

  border: 1px solid $backgroundColorMint;
  border-radius: 20px;
  background-color: $mainTextColorWhite;
}
.updatingItem:hover {
  background: $backgroundColorLightMint
}

// .cardDisplayName {
  
// }

.cardDisplayDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

label {
  font-size: 0.8rem;
}

.input {
  padding: 0.5rem;
  // width: 8rem;
  border: 1px solid $backgroundColorDarkMint;
  border-radius: 4px;
}

.buttons {
  display: flex;
  // justify-content: center;
  
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttons button {
  padding: 0.5rem;

  border: 1px solid $backgroundColorMint;
  border-radius: 40px;
  font-weight: 600;
  color: $mainTextColorWhite;
  background-color: $backgroundColorMint;
  cursor: pointer;
}