$mainTextColorBlack: #020024;
$mainTextColorWhite: #ffffff;
$mainTextColorGreen: rgb(19, 54, 46);

$backgroundColorLightMint: rgb(190, 232, 225);
$backgroundColorLightMint: rgb(233, 247, 244);
$backgroundColorMint: rgb(82, 182, 148);
$backgroundColorDarkMint: rgb(11, 36, 29);