@import '/src/styles/colors.scss';

.header {
  padding: 2.5rem 1rem;

  text-align: center;
  font-size: 1.5rem;
  color: $mainTextColorWhite;
  background-color: $backgroundColorDarkMint;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,36,29,1) 35%, rgba(82,182,148,1) 100%);

}